body {
  font-family: Arial;
  padding: 20px;
}

.completed {
  text-decoration: line-through;
  color: green;
}

button {
  margin-left: 10px;
  cursor: pointer;
}

#progressBar {
  width: 100%;
  height: 20px;
  background: #ddd;
  margin-top: 10px;
}

#progressFill {
  height: 100%;
  width: 0%;
  background: green;
}